<footer class="bg-dark py-4">
  <div class="container text-white">
    <div class="fs-3 fw-bold text-center">Interior Design</div>
    <div class="text-center">Địa chỉ: 255 đường Nguyễn Trãi, phường 4, quận 5, Tp. Hồ Chí Minh</div>
    <div class="text-center">Điện thoại: (84) 38345678</div>
    <div class="text-center">Điện thoại di động: (84) 915345678</div>
  </div>
</footer>